<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a [routerLink]="['/basic-form']" routerLinkActive="active">signup form</a></span>
      <span><a [routerLink]="['/array-form']" routerLinkActive="active">array form</a></span>
      <span><a [routerLink]="['/nested-form']" routerLinkActive="active">nested</a></span>
      <span><a [routerLink]="['/dynamic-form']" routerLinkActive="active">dynamic</a></span>
      <span><a [routerLink]="['/registration']" routerLinkActive="active">registration</a></span>
      <span><a [routerLink]="['/info']" routerLinkActive="active">mysql info</a></span>
    </mat-toolbar-row>
</mat-toolbar>