
<h2>how to mysql on the command line</h2>

<p>
yum install mysql
</p>

<p>
mysql -h testdb.cjtizh8jjvj0.us-east-1.rds.amazonaws.com -P 3306 -uadmin -p    
</p>

<p>
PROMPT> mysql -h endpoint -P 3306 -u mymasteruser -p    
</p>

<p>
create database mushel;    
</p>

<p>
use mushel;    
</p>

<p>
then create table:<br> 
CREATE TABLE pet (name VARCHAR(20), owner VARCHAR(20), species VARCHAR(20), sex CHAR(1), birth DATE, death DATE);
<br>
then look at the pet table:<br>
describe pet;
<br>
<i>I can't get this one to work</i>
ENUM("uptown","mid-city","downtown"));     
</p> 

