<form [formGroup]="myForm">
    <hr>
    <div class="resume">
        Value: {{ myForm.value | json }}
    </div>
    <hr>
    <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
<br>
    <mat-form-field>
        <input matInput placeholder="password" formControlName="password">
    </mat-form-field>
&nbsp;
    <mat-form-field>
        <mat-select formControlName="location" placeholder="location">
            <mat-option value="Mid-City">Mid-City</mat-option>
            <mat-option value="Uptown">Uptown</mat-option>
            <mat-option value="Downtown">Downtown</mat-option>
        </mat-select>
    </mat-form-field>
<br>


</form>